
@media only screen and (max-width: 800px) {
    .banner-img {
        display: none;
    }
    .banner-content-wrapper {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        text-align: center;
    }
    .banner-content {
        width: 100%;
    }
}
