
@media only screen and (max-width: 900px) {
    .header .nav {
        display: none;
        width: 100vw !important;
        background-color: rgb(24,104,174);
        position: absolute;
        left: 0;
        top: 70px;
        height: fit-content;
    }
    .header .nav .nav-item {
        height: 50px;
    }
    .header {
        padding: 0 15px;
    }
    .menu {
        height: 40px;
        display: block !important;
        margin-left: calc(100% - 180px);
    }
    .menu img {
        height: 100%;
        width: 100%;
    }
}
