
@media only screen and (max-width: 900px) {
    .navbar .nav {
        display: none;
    }
    .navbar {
        padding: 0 15px;
    }
    .menu {
        height: 40px;
        display: block !important;
        margin-left: calc(100% - 140px);
    }
    .menu img {
        height: 100%;
        width: 100%;
    }
}
