
.footer {
    height: 380px;
    width: 100vw;
    background-color: #05233d;
    overflow: hidden;
}
.top-footer {
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}
.bottom-footer {
    height: 15%;
    width: 100%;
    background-color: #022c51;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.bottom-footer p{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.top-footer-container {
    height: 100%;
    width: 100%;
    display: flex;
}
.footer-item {
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
}
.footer-item h5{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-item ul {
    list-style: none;
}
.footer-item ul li {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    margin-bottom: -1px;
}
.footer-social-media {
    flex: 2;
    padding: 15px;
}
.footer-social-media h5{
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
}
.social-media-container {
    width: 55%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.social-media-container img {
    height: 35px;
    width: 35px;
}
