
.header {
    height: 70px;
    width: 100vw;
    max-width: 1400px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    height: 50px;
    margin-top: 30px;
}
.header .nav {
    height: 50px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 30px;
}
.header .nav .nav-item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: none;
}
